<section class="skin">
    <h2 class="heading"> Blog </h2>

    <div class="row">
        {{ .Content }}
        {{ range first 2 (where .Pages "Section" "blog") }}
            <div class="col-md-5 mb-3">
                <div class="card p-4">
                    <a class="mb-3" href="{{ .Permalink }}">
                       
                        <div 
                            class="featuredImage rounded" 
                            style="
                                background-size:cover;
                                background-position:center;
                                background-image: url('{{.Site.BaseURL}}blog/images/{{ .Params.featured_image }}');
                                height: 200px;
                                background-color:#fbfbfb;"
                        >
                        </div>
                    </a>
                    <small class="text-muted">{{.Date.Format "Jan 2 — 2006"}}</small>
                    <a href="{{ .Permalink }}">
                        <h3 class="h4 font-weight-bold text-dark">{{ .Title }}</h3>
                    </a>
            
                    <div>
                        {{ range .Params.tags }}
                            <span class="badge badge-light">{{ . }}</span>
                        {{ end }}
                        <div class="float-right">

                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        
        <div class="col-lg-2 col-12 align-items-end d-flex align-items-center">
            <a href="{{.Site.BaseURL}}blog" class="btn btn-dark-faded rounded-circle p-4 text-center">
                <img width="40px" src="{{.Site.BaseURL}}images/next.svg" alt="">
            </a>
        </div>
    </div>



</section>