{{ $config := .Site.Data.config }}
<section id="contact" class="bg-light d-flex align-items-center" style="height: 100vh;">
  <div class="container">
      <h2 class="heading mb-3">Contact</h2>

      <div class="text-success my-3">
        <p id="binjuhor-form-status">{{ $config.message }}</p>
      </div>

      <form id="binjuhor-contact" action="https://formspree.io/f/xpzgqgge" method="POST">
        <div class="form-row">
          <div class="col-md-6  mb-4 ">
            <input type="text" class="form-control" name="name" required placeholder="Name">
          </div>
          <div class="col-md-6  mb-4 ">
            <input type="email" class="form-control" name="email" required placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <textarea placeholder="Message" name="message" required class="form-control" rows="4"></textarea>
        </div>
        <button
            type="submit"
            id="binjuhor-form-button"
            class="btn btn-dark g-recaptcha"
            data-sitekey="{{ $config.recaptchaKey }}"
            data-callback="onSubmit"
            data-action="submit"
        >Submit</button>
      </form>
  </div>
</section>