{{ $currentPage := . }}
{{ $sidebar := .Site.Data.sidebar }}
<nav class="navbar navbar-expand-lg navbar-light bg-white mt-lg-0 mt-3" style="position:relative">
    <a id="menuBar" href="#0" class="bg-white" style="cursor: pointer; position: absolute; height: 22px; width: 30px;">
        <div class="hamburger-menu"></div>
    </a>

    <div class="secondaryMenu p-3 bg-white">
        <div class="">
            {{ range .Site.Menus.secondaryMenu }}
            <a href="{{ .URL }}">
                <h4 class="d-inline-block mr-3 text-dark mb-0">{{ .Name }}</h4>
            </a>
            {{ end }}
        </div>
    </div>

    {{ range .Site.Menus.primaryMenu }}
        <span class='mr-auto {{ if or ($currentPage.IsMenuCurrent "primaryMenu" .) ( $currentPage.HasMenuCurrent "primaryMenu" .) }} active {{ end }}'>
            <a class="navbar-brand ml-auto" href="{{ .URL }}">
                <img style="width:40px" src="{{ .Site.BaseURL}}images/{{ $sidebar.displayPicture }}"
                    alt="{{ .Site.title }}"
                    class="rounded-circle mr-2">
                <span style="font-size: 20px" class="heading">{{ $sidebar.highlightedText }}</span>
            </a>
        </span>
    {{ end }}

    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>

        <a target="_blank" class="nav-link text-dark" href="#">
            <i class="fab fa-dribbble"></i>
        </a>

        <a target="_blank" class="nav-link text-dark" href="#">
            <i class="fab fa-github-alt"></i>
        </a>

        <a target="_blank" class="nav-link text-dark" href="#">
            <i class="fab fa-instagram"></i>
        </a>

        <a target="_blank" class="nav-link text-dark" href="#">
            <i class="fab fa-twitter"></i>
        </a>


    </div>
</nav>