<section class="aqua work">
    <h2 class="heading">Work</h2>

    <div class="row flex">

        {{ .Content }}
        
        <div class="col-md-4 mb-4 flex work__item">
            <div class="card p-4 mb-2">
                <a class="mb-3" href="{{.Site.BaseURL}}work/pvcombank-official-website/">
                    <div 
                        class="featuredImage rounded" 
                        style="
                        background-size:cover;
                        background-position:center;
                        background-image: url('{{.Site.BaseURL}}work/images/pvcombank-official-thumb.jpg'); 
                        height: 180px;
                        background-color:#fbfbfb;"
                    >
                    </div>
                </a>

                <a href="{{.Site.BaseURL}}work/pvcombank-official-website/">
                    <h3 class="h4 font-weight-bold text-dark">Pvcombank Official Website</h3>
                </a>

                <div>
                    <div class="float-right">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 flex work__item">
            <div class="card p-4 mb-2">
                <a class="mb-3" href="{{.Site.BaseURL}}work/vnpayment-vietnam-website/">
                    <div 
                        class="featuredImage rounded" 
                        style="
                        background-size:cover;
                        background-position:center;
                        background-image: url('{{.Site.BaseURL}}work/images/vnpayment-thumb.jpg'); 
                        height: 180px;
                        background-color:#fbfbfb;"
                    >
                    </div>
                </a>

                <a href="{{.Site.BaseURL}}work/vnpayment-vietnam-website/">
                    <h3 class="h4 font-weight-bold text-dark">Vnpayment Vietnam Website</h3>
                </a>

                <div>
                    <div class="float-right">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 flex work__item">
            <div class="card p-4 mb-2">
                <a class="mb-3" href="{{.Site.BaseURL}}work/ebanking-maritime-bank/">
                    <div 
                        class="featuredImage rounded" 
                        style="
                        background-size:cover;
                        background-position:center;
                        background-image: url('{{.Site.BaseURL}}work/images/ib-maritimebank-thumb.jpg'); 
                        height: 180px;
                        background-color:#fbfbfb;"
                    >
                    </div>
                </a>

                <a href="{{.Site.BaseURL}}work/ebanking-maritime-bank/">
                    <h3 class="h4 font-weight-bold text-dark">Ebanking Maritime Bank</h3>
                </a>

                <div>
                    <div class="float-right">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center mt-3">
        <a href="{{.Site.BaseURL}}work" class="btn btn-lg btn-dark-faded text-uppercase">Browse All</a>
    </div>
</section>