{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container mt-4">
    <h1 class="text-center heading text-capitalize">{{ .Title }}</h1>
    <small class="text-center d-block text-muted">{{.Date.Format "Jan 2 — 2006"}}</small>
</div>

<img src="{{.Site.BaseURL}}blog/images/{{ .Params.featured_image }}" 
    class="mx-auto d-block my-4"
    style="max-width:100%;"
    alt="{{ .Title }}"
>

<article style="max-width:890px" class="container w-100 my-5">
    <div class="row alignt">
        <div class="col-md-8 mx-auto">
            {{ .Content }}
            <div class="clearfix"></div>
            {{ range .Params.tags }}
                <span class="badge badge-light">{{ . }}</span>
            {{ end }}
        </div>
    </div>
    
    <div class="text-center my-5">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{.Site.BaseURL}}{{.Permalink}}"
            class="h6 mr-4">
            <i class="socicon-facebook"></i> Share
        </a>
        <a target="_blank" href="https://twitter.com/home?status={{.Site.BaseURL}}{{.Permalink}}"
            class="h6">
            <i class="socicon-twitter"></i> Tweet
        </a>
    </div>
    {{ partial "disqus.html" . }}

</article>
{{ partial "footer-scripts.html" . }}
{{ partial "footer.html" . }}