{{ partial "header.html" . }}
{{ partial "nav.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div class="mt-5">
    <div class="row no-gutters">
        <div class="col-md-8">
            <sub class="post-time pl-3 pb-3">{{.Date.Format "Jan — 2006"}}</sub>
            <h1 class="pl-3 text-capitalize">{{ .Title }}</h1>
            <div class="pb-3 pl-3">
                {{ range .Params.tags }}
                /<div class="pr-3 d-inline text-capitalize"> {{ . }} </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="row no-gutters bg-socola">
        
        <div class="col-md-8">
            <div class="project-images">
                {{ if isset .Params "project_image" }}
                    {{ range index .Params "project_image" }}
                        <img src="{{ $baseurl }}work/images/{{ . }}" 
                        class="mx-auto d-block" 
                        style="width:100%;" 
                        alt="{{ . }}"
                        >
                    {{ end }}
                {{ else }}
                    <img src="{{ $baseurl }}work/images/{{ .Params.featured_image }}" 
                    class="mx-auto d-block" 
                    style="width:100%;" 
                    alt="{{ .Title }}"
                    >
                {{ end }}
            </div>
            
        </div>
        <div class="col-md-4">
            <article class="sticky-top">
                <div class="px-5 pt-md-3 bg-white ">

                    <div class="row mt-md-1 sidebarshare">
                        <div class="col-7 mt-4 mb-3">
                            <a class="text-dark back-action text-uppercase" href="{{ $baseurl }}work">
                                Back <span class="d-none d-xl-inline-block">to Work
                            </a>    
                        </div>
        
                        <div class="col-5 mt-4 mb-3 text-right">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="share-link h6 mr-1">
                                <i class="socicon-facebook"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com/home?status={{ .Permalink }}" class="share-link h6">
                                <i class="socicon-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content p-5 text-white">
                    {{ .Content }}
                </div>
                
            </article>
            
        </div>
    </div>
</div>


{{ partial "footer-scripts.html" . }}
{{ partial "footer.html" . }}