{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="mt-5">
    <div class="row no-gutters position-relative">
        <div class="col-md-8">

            <sub class="post-time pl-3 pb-3">{{.Date.Format "Jan — 2006"}}</sub>
            <h1 class="pl-3 text-capitalize">{{ .Title }}</h1>
            <div class="pb-3 pl-3">
                {{ range .Params.tags }}
                    /<div class="pr-3 d-inline text-capitalize"> {{ . }} </div>
                {{ end }}
            </div>
            <div class="position-sticky sticky-top">
                <img src="{{.Site.BaseURL}}work/images/{{ .Params.featured_image }}" 
                    class="mx-auto d-block"
                    style="width:100%;" 
                    alt="{{ .Title }}"
                >
            </div>
            
        </div>
        <div class="col-md-4 px-5 pt-5">
            
            <article class="text-justify mt-5 pt-5 position-sticky">
                {{ .Content }}
            </article>
            <div class="text-center my-5">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
                    class="h6 mr-4">
                    <i class="socicon-facebook"></i> Share
                </a>
                <a target="_blank" href="https://twitter.com/home?status={{ .Permalink }}"
                    class="h6">
                    <i class="socicon-twitter"></i> Tweet
                </a>
            </div>
        </div>
    </div>
</div>

<div class="text-center my-5">
    <a class="text-dark" href="{{.Site.BaseURL}}work">↽ Back</a>
</div>

{{ partial "footer-scripts.html" . }}
{{ partial "footer.html" . }}